

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.sachmatai {
    display: flex;
    flex-wrap: wrap;
    width:  500px; font-side:0;
}

.sachmatai > div {

  width: 75px;
  height: 75px;
  margin: 5px;
  padding: 10px;
  border: 2px  solid black;
  text-align:center;
  align-content: center;
}



.sachmatai > div:nth-child(10n+1),
.sachmatai > div:nth-child(10n+3),
.sachmatai > div:nth-child(10n+5),
.sachmatai > div:nth-child(10n+7),
.sachmatai > div:nth-child(10n+9)


{
background: grey;

}
.sachmatai > div:nth-child(10n+2),
.sachmatai > div:nth-child(10n+4),
.sachmatai > div:nth-child(10n+6),
.sachmatai > div:nth-child(10n+8),
.sachmatai > div:nth-child(10n+10)
{
background: blue;

}


.sachmatai > div:nth-child(10n+4),
.sachmatai > div:nth-child(10n+8),
.sachmatai > div:nth-child(10n+12)

{
background: green;

}

.sachmatai > div:nth-child(10n+2),
.sachmatai > div:nth-child(10n+6),
.sachmatai > div:nth-child(10n+10),
.sachmatai > div:nth-child(10n+14)

{
background: orange;

}



.sachmatai > div:nth-child(10n+16),
.sachmatai > div:nth-child(10n+18),
.sachmatai > div:nth-child(10n+20),
.sachmatai > div:nth-child(10n+22),
.sachmatai > div:nth-child(10n+24)

{
background: yellow;

}




