#container {
  display: grid;
  grid: repeat(2, 100px) / auto-flow 100px;
}

#container > div {
  background-color : #8ca0ff;
  width: 75px;
  height: 75px;
  margin:5px;
  padding: 10px;
  text-align:center;    
 
}
#container1 {
  display: grid;
  grid: repeat(2, 100px) / auto-flow 100px;

}


#container1 > div {
  background-color: #8ca0ff;
  width: 75px;
  height: 75px;
  margin: 5px;
  padding: 10px;
  text-align:center;

}
#container2 {
  display: grid;
  grid: repeat(1, 100px) / auto-flow 100px;
}


#container2 > div {
  background-color: green;
  width: 75px;
  height: 75px;
  margin: 5px;
  padding: 10px;
  text-align:center;
  align-content: center;

}


