/* Bendri nustatymai */
body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
}

.container{
  display: grid;
  gap: 5px;
  padding: 10px;
  min-height: 900px;
  grid-template-areas: 
    "header header"
    "nav    nav"
    "main   aside"
    "footer footer";
  grid-template-columns: 1fr 250px; /* Main užima likusią vietą, Aside - 250px */
  grid-template-rows: auto auto 1fr auto;
}


.header { 
    
  grid-area: header; 
  background-color:#2980b9; 
  border: 4px double #c0392b; 
  height: 100px;
text-align: center;
}

.nav { 
  grid-area: nav; 
  background-color: #ffd6a5; 
  border: 3px double #d35400; 
  padding: 15px;
  text-align: center;
}

.main { 
  grid-area: main; 
  background-color: #fdffb6; 
  border: 2px solid #f1c40f; 
  padding: 20px;
  text-align: center;
  
}

.aside { 
  grid-area: aside; 
  background-color: #caffbf; 
  border: 5px outset #27ae60; 
  padding: 20px;
}

.footer { 
  grid-area: footer; 
  background-color: #9bf6ff; 
  border: 4px groove #2980b9; 
  padding: 20px;
  text-align: center;
}


.relative-box {
  position: relative;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  margin-top: 50px;
  background: white;
}

.absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #e74c3c;
  color: white;
}


@media (max-width: px) {
  .container {
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "aside"
      "footer";
    grid-template-columns: 1fr; 
  }
  

}