
.cards-container {
  display: flex;
  flex-wrap: wrap;       
  justify-content: center; 
  gap: 20px;            
  padding: 20px;
}


.card {
   display: flex;
  border: 1px solid greenyellow;
  border-radius: 10px;
  padding: 20px;
  flex: 1 2 300px;
 
  flex-direction: column; 
  text-align: center;
}




